<?xml version="1.0" encoding="UTF-8"?>
<!-- TRACE > DEBUG > INFO > WARN > ERROR > FATAL -->
<Configuration status="WARN">
    <Appenders>
        <Console name="stdout" target="SYSTEM_OUT">
            <PatternLayout pattern="[%-5p] [%d{dd/MM/yy HH:mm a}] [%C:%L] - %m%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="org.springframework" level="info"
                includeLocation="true"/>
        <Logger name="org.apache.camel" level="info"
                includeLocation="true"/>
        <Logger name="org.apache.activemq" level="info"
                includeLocation="true"/>
        <Logger name="org.apache.http" level="info"
                includeLocation="true"/>
        <Root level="trace" includeLocation="true">
            <AppenderRef ref="stdout"/>
        </Root>
    </Loggers>
</Configuration>
